<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blur</key>
	<dict>
		<key>Texts</key>
		<array>
			<string>图形虚化</string>
			<string>直线虚化</string>
		</array>
		<key>normalImages</key>
		<array>
			<string>icon_blur_round_a</string>
			<string>icon_blur_line_a</string>
		</array>
		<key>HighlightedImages</key>
		<array>
			<string>icon_blur_round_b</string>
			<string>icon_blur_line_b</string>
		</array>
	</dict>
	<key>Border</key>
	<dict>
		<key>PosterBorder</key>
		<dict/>
		<key>SimplerBorder</key>
		<dict/>
		<key>New item</key>
		<string></string>
	</dict>
	<key>Filters</key>
	<dict/>
	<key>scaleMode</key>
	<dict>
		<key>normalImages</key>
		<array>
			<string>icon_clipScaleAny_a</string>
			<string>icon_clipScale11_a</string>
			<string>icon_clipScale23_a</string>
			<string>icon_clipScale32_a</string>
			<string>icon_clipScale34_a</string>
			<string>icon_clipScale43_a</string>
			<string>icon_clipScale169_a</string>
		</array>
		<key>HighlightedImages</key>
		<array>
			<string>icon_clipScaleAny_b</string>
			<string>icon_clipScale11_b</string>
			<string>icon_clipScale23_b</string>
			<string>icon_clipScale32_b</string>
			<string>icon_clipScale34_b</string>
			<string>icon_clipScale43_b</string>
			<string>icon_clipScale169_b</string>
		</array>
		<key>Texts</key>
		<array>
			<string>自由</string>
			<string>1:1</string>
			<string>2:3</string>
			<string>3:2</string>
			<string>3:4</string>
			<string>4:3</string>
			<string>16:9</string>
		</array>
	</dict>
	<key>speciallyeffect</key>
	<dict>
		<key>Texts</key>
		<array>
			<string>LOMO</string>
			<string>美颜</string>
			<string>格调</string>
			<string>艺术</string>
		</array>
	</dict>
	<key>Edit</key>
	<dict>
		<key>normalImages</key>
		<array>
			<string>icon_edit_clip_a@2x.png</string>
			<string>icon_edit_rotate_a@2x.png</string>
			<string>icon_edit_sharp_a@2x.png</string>
		</array>
		<key>HighlightedImages</key>
		<array>
			<string>icon_edit_clip_b@2x.png</string>
			<string>icon_edit_rotate_b@2x.png</string>
			<string>icon_edit_sharp_b@2x.png</string>
		</array>
		<key>Texts</key>
		<array>
			<string>裁剪</string>
			<string>旋转</string>
			<string>锐化</string>
		</array>
	</dict>
	<key>ColorList</key>
	<dict>
		<key>normalImages</key>
		<array>
			<string>icon_brightness_a@2x.png</string>
			<string>icon_contrast_a@2x.png</string>
			<string>icon_colourTemperature_a@2x.png</string>
			<string>icon_saturation_a@2x.png</string>
			<string>icon_hightLight_a@2x.png</string>
			<string>icon_shade_a@2x.png</string>
			<string>icon_fillinlight_a@2x.png</string>
		</array>
		<key>HighlightedImages</key>
		<array>
			<string>icon_brightness_b@2x.png</string>
			<string>icon_contrast_b@2x.png</string>
			<string>icon_colourTemperature_b@2x.png</string>
			<string>icon_saturation_b@2x.png</string>
			<string>icon_hightLight_b@2x.png</string>
			<string>icon_shade_b@2x.png</string>
			<string>icon_fillinlight_b@2x.png</string>
		</array>
		<key>Texts</key>
		<array>
			<string>亮度</string>
			<string>对比度</string>
			<string>色温</string>
			<string>饱和度</string>
			<string>高光</string>
			<string>暗部</string>
			<string>智能补光</string>
		</array>
	</dict>
	<key>MagicBrush</key>
	<dict>
		<key>normalImages</key>
		<array>
			<string>magic_brush_09@2x.png</string>
			<string>magic_brush_13@2x.png</string>
			<string>magic_brush_16@2x.png</string>
			<string>magic_brush_17@2x.png</string>
			<string>magic_brush_12@2x.png</string>
			<string>magic_brush_14@2x.png</string>
			<string>magic_brush_15@2x.png</string>
			<string>magic_brush_11@2x.png</string>
			<string>magic_brush_01@2x.png</string>
			<string>magic_brush_02@2x.png</string>
			<string>magic_brush_03@2x.png</string>
			<string>magic_brush_04@2x.png</string>
			<string>magic_brush_05@2x.png</string>
			<string>magic_brush_06@2x.png</string>
			<string>magic_brush_07@2x.png</string>
			<string>magic_brush_08@2x.png</string>
			<string>magic_brush_10@2x.png</string>
			<string>magic_brush_eraser@2x.png</string>
		</array>
		<key>HighlightedImages</key>
		<array>
			<string></string>
		</array>
		<key>Texts</key>
		<array>
			<string>烟花棒</string>
			<string>炫光</string>
			<string>丝带</string>
			<string>彩虹</string>
			<string>四叶草</string>
			<string>紫光</string>
			<string>绿宝石</string>
			<string>花瓣</string>
			<string>七彩光圈</string>
			<string>爱心</string>
			<string>光晕</string>
			<string>飘雪</string>
			<string>心动</string>
			<string>小星星</string>
			<string>梦幻</string>
			<string>萤火虫</string>
			<string>荧光笔</string>
			<string>橡皮擦</string>
		</array>
	</dict>
	<key>AutoBeauty</key>
	<dict>
		<key>Texts</key>
		<array>
			<string>原图</string>
			<string>自动</string>
			<string>美食</string>
			<string>静物</string>
			<string>风景</string>
			<string>去雾</string>
			<string>人物</string>
		</array>
		<key>HighlightedImages</key>
		<array>
			<string>icon_autobeauty1_b@2x.png</string>
			<string>icon_autobeauty2_b@2x.png</string>
			<string>icon_autobeauty4_b@2x.png</string>
			<string>icon_autobeauty5_b@2x.png</string>
			<string>icon_autobeauty6_b@2x.png</string>
			<string>icon_autobeauty7_b@2x.png</string>
			<string>icon_autobeauty3_b@2x.png</string>
		</array>
		<key>normalImages</key>
		<array>
			<string>icon_autobeauty1_a@2x.png</string>
			<string>icon_autobeauty2_a@2x.png</string>
			<string>icon_autobeauty4_a@2x.png</string>
			<string>icon_autobeauty5_a@2x.png</string>
			<string>icon_autobeauty6_a@2x.png</string>
			<string>icon_autobeauty7_a@2x.png</string>
			<string>icon_autobeauty3_a@2x.png</string>
		</array>
	</dict>
</dict>
</plist>
